@page
@model IndexModel
@{
    ViewData["CS-192, Web Development"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CS-192, Web Development</h1>
   <!-- <p>Learn about building <a href="https://catalog.stmarys-ca.edu/preview_course_nopop.php?catoid=10&coid=15338">Web apps</a> with ASP.NET Core, as well as SQL and C</p> -->
   <p> Trust Me</p>
</div>
